/* 
    Document   : oe-menu-fixed
    Created on : 09/08/2011, 10:58:19
    Author     : fabricio
    Description:
        Purpose of the stylesheet follows.
 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


div#menuQuemVoce{
    display: block !important;
    position: absolute !important;
    bottom: 0px !important;
    width: 225px !important;
    height: 29px;
    left: 43% !important;
    background-image: url(images/bg_quemevc_interno.png);
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    text-align: center !important;
    font-family: Arial !important;
    color: #CA0000;
    font-size: 18px;
    font-weight: bold !important;
    cursor: pointer !important;
}

/* páginas em azul */

body.page-edicoes-2011-15-17-comite-organizador div#menuQuemVoce,
body.page-edicoes-2011-15-17-local div#menuQuemVoce,
body.page-edicoes-2011-15-17-calendario div#menuQuemVoce,
body.page-edicoes-2011-15-17-comite-organizador div#menuQuemVoce,
body.page-edicoes-2011-15-17-calendario div#menuQuemVoce,
body.page-edicoes-2011-15-17-regulamento div#menuQuemVoce,
body.page-edicoes-2011-15-17-programacao-e-resultados div#menuQuemVoce,
body.page-edicoes-2011-15-17-comissao-disciplinar div#menuQuemVoce,
body.page-edicoes-2011-15-17-boletim div#menuQuemVoce,
body.page-edicoes-2011-15-17-embaixadores div#menuQuemVoce,
body.page-edicoes-2011-15-17-atividades div#menuQuemVoce {
    background-image: url(images/bg_quemevc_interno_azul.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    color: #025B94 !important;
}
/* páginas em verde */
body.page-edicoes-2011-12-14-comite-organizador div#menuQuemVoce,
body.page-edicoes-2011-12-14-local div#menuQuemVoce,
body.page-edicoes-2011-12-14-calendario div#menuQuemVoce,
body.page-edicoes-2011-12-14-comite-organizador div#menuQuemVoce,
body.page-edicoes-2011-12-14-calendario div#menuQuemVoce,
body.page-edicoes-2011-12-14-regulamento div#menuQuemVoce,
body.page-edicoes-2011-12-14-programacao-e-resultados div#menuQuemVoce,
body.page-edicoes-2011-12-14-comissao-disciplinar div#menuQuemVoce,
body.page-edicoes-2011-12-14-boletim div#menuQuemVoce,
body.page-edicoes-2011-12-14-embaixadores div#menuQuemVoce,
body.page-edicoes-2011-12-14-atividades div#menuQuemVoce {
    background-image: url(images/bg_quemevc_interno_verde.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom !important;
    color: #047224 !important;
}

div#menuQuem {
    width: 100%;
    height: 58px;
    background-image: url(images/bg_menuQuem.png);
    background-repeat: no-repeat;
    background-position: top center;
}
div#ConteudoMenuQuem {
    width: 979px;
    height: 58px;
    margin: 0 auto;
    padding-top: 0px;
    background-color: transparent;
}
.hidden{
    display: none;
}
.ChamadaTopo{
    width:60px;
    text-align: center;
}
.quemEvoce{
    position: relative;
    float: left; 
    left: 30px;
    top: 0px;
    text-align: left;
    cursor: pointer;
    background-image: url(images/interogacao.png);
    background-repeat: no-repeat;
    background-position: 84% 0%;
    width: 200px;
    height: 30px;
}
.menuAcessoRapido img{margin-top: 2px !important;}
.menuAcessoRapido{
    display: inline;
    overflow: auto;
    position: relative;
    top: 0;
    left: 0;
    font-size: 11px !important;
    text-align: center;
    width: 200px;
}
.tipoVis img{margin: 0 5px 0 0;}
.tipoVis{
    position: relative;
    float: right; 
    top: 7px;
    right: 25px;
}
.setaBaixo{
    margin: 0 3px 0 3px;
}